#footer_menu_container{
  float:right;
  width:95%;
  height:auto;
  margin:0 auto;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
  color:#B6AFA9; /* Titanium Fallback */
  color:hsla(28, 8%, 69%, 1);
  border-top:1px solid #CCC;
}
#footer_menu_container > div{
   display: inline-block;
   padding: 0 15px;
   margin: 10px 0;
}
#footer_menu_container > div > a{
    text-decoration: none;
}